body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#89775B;
  align-items: center;
}
h1 {
  font-size: 80px;
  text-align: center;
  color: #9b2622;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50px;
}
a {
  font-style: italic;
  color: black;
  align-items: center;
  margin: 5.5%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%; 
}
figcaption{
  font-size: medium;
  text-align: center;
  margin: 1%; 
}
#featured-property{
  text-align: center;
  align-items: center ;
}
p{
  text-align: center;
  align-items: center ;}
div{
  float: left;
  background-color: antiquewhite;
  text-align: center;
  width: 25%;
}

